<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Titulo</h2>
            <h4></h4>
        </div>
        <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Paginas</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">Productos</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/repairs">Reparaciones</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Administracion</a>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Herramientas</h2>
    <a mat-list-item routerLinkActive=""><mat-icon>import_contacts</mat-icon>Clientes
    </a>
    <a mat-list-item routerLinkActive="">Configuracion</a>
    <a mat-list-item routerLinkActive="">Reportes</a>

</mat-nav-list>